extends ../layout/index
block contenido
    main.container.pt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img nosotros" class="img-fluid")
            .col-md-7
                h1 #{nosotros}
                    blockquote Assumenda, recusandae pariatur nesciunt totam asperiores quidem dolo. Assumenda, officia.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, praesentium voluptatibus molestias aliquam reprehenderit cum mollitia rem voluptates nesciunt, saepe, quos eveniet sequi ipsum assumenda autem. Adipisci doloribus eligendi quod neque deleniti id reiciendis architecto aliquam officia quae sit eos pariatur amet esse cupiditate laboriosam, quibusdam praesentium dolorem unde fuga ab alias expedita numquam? Ratione et cum ad porro mollitia.

        .listado-iconos
            .container-mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus maxime commodi ad ab fugiat.
                    .col-md-4
                        img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                        h2.mb-4 Los mejores Destinos
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus maxime commodi ad ab fugiat.
                    .col-md-4
                        img(src="img/icono_precios.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejor precio
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus maxime commodi ad ab fugiat.                                      