extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em.mt-5 aventura
block contenido      
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aperiam reprehenderit quia error commodi dolorem, ducimus fugit? Temporibus eos esse mollitia doloribus reprehenderit? Dolorem corrupti hic, tempore dolor assumenda molestiae ut accusantium velit aspernatur tenetur?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis labore deserunt tempore laboriosam inventore obcaecati totam sunt aliquid, consequuntur facilis corporis eaque aperiam, itaque ipsum quis. Rerum doloremque minima perferendis hic deserunt odio illum a!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
    .descuento            
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de marzo de 2021 - 28 de marzo de 2021 
                        p.precio $600 USD       
